@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components

<FluentLayout>
    <FluentHeader>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center">
            <FluentLabel Typo="Typography.PageTitle">Budget Experiment</FluentLabel>
        </FluentStack>
    </FluentHeader>
    
    <FluentBodyContent>
        <div style="padding: 16px; background-color: #faf9f8; min-height: 100vh;">
            @Body
        </div>
    </FluentBodyContent>
</FluentLayout>
